@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "index";
}
<script src="~/Scripts/Email-Retrieve.js"></script>

<body>
    <div class="panel panel-default col-sm-8">
        <div class="panel-body">
        </div>
    </div>
    <ul id="emailListDisplay" class="list-group col-sm-4">
    </ul>
</body>




